*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --container-width-lg: 90%;
    --container-width-md: 94%;
    --container-width-sm: 94%;

    --clr-dark-bg: #131b23;
    --clr-black: #000;
    --clr-bg: #060e15;
    --clr-white: white;
    --clr-white70: #ffffffb3;
    --clr-cp: #ff8838;
    
    --en-bdrr: 12px;
    --en-gp: 20px;
    --en-pd: 20px;
    --clr-enc-bg: #ffffff05;
    --clr-en-bd: rgb(255, 255, 255, 0.8);

    --clr-primary: linear-gradient(310deg, #ff8838 0%, #ffb54c 100% );
}
.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}
a {
    text-decoration: none;
    color: var(--clr-white);
}
ul {
    list-style: none;
}
h1 {
    font-size: 3.1rem;
    margin: 0;
}
h1, h2, h3, h4 {
    color: var(--clr-white);
}
html {
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto; /* Keeps the aspect ratio */
    display: block; /* Removes the extra space below the image */
    object-fit: cover; /* Ensures the image covers the container without stretching */
}
select {
    color: var(--clr-white);
    border: none;
    font-size: 1.2rem;
    background-color: transparent; /* Optional: Remove background color */
    appearance: noe; /* Remove default styling */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Firefox */
}
option {
    background: var(--clr-dark-bg);
}


body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--clr-bg);
    color: var(--clr-white70);
    line-height: 1.5;
    font-size: 1.2rem;
}
section {
    margin-top: 4rem;
}
section > h2 {
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--clr-white);
    margin-bottom: 2rem;
}

nav {
    display: grid;
    align-items: center;
    place-items: center;
    height: 5rem;
    width: 100vw;
    position: fixed;
    background: #fff;
    z-index: 10;
    top: 0;
    border-bottom: 3px solid var(--clr-white);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
}
.nav__container {
    place-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
            
.logo__image {
    display: flex;
    height: 3.8rem;

    border-radius: 50%;
    align-items: center;
}
            
        
.nav__menu {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav__menu a {
    font-size: 1.2rem;
}
.nav__btn {
    letter-spacing: .01em;
    background-color: #3898ec00;
    border: 1px solid #a3a3a3;
    font-family: Clashdisplay Variable, sans-serif;
    font-weight: 600;
    line-height: 1.25;
    padding: .75rem 2rem;
}
        
.nav__btns {
    display: none;
    cursor: pointer;
    border: none;
    background: none;
    color: var(--clr-white);
    font-size: 1.6rem;
    align-items: center;
}
    





.hero {
    margin-top: 5rem;
    background: url('./images/darkc.png') no-repeat center center/cover;
    height: calc(100vh - 5rem);
    position: relative;
    isolation: isolate;
    z-index: 2;
    overflow: hidden;

}
.hero::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: .9;
    background: var(--clr-bg);
}
.hero__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
/* .gradient-text {
    font-size: 3em;
    font-weight: bold;
    background: var(--clr-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-wrap: balance;
} */
.t__coo {
    color: var(--clr-cp);
    font-weight: 700;
}
.hero__right {
    width: 100%;
    height: 100%;
    img {
        height: 100%;
        width: 100%;
        border-radius: 2rem;
    }
}

/* .hero__left {
    border-right: 3px solid #ff8838;
    padding: 0 3rem 0 0;
} */


.hero__text {
    margin: 3rem 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 2;
}
.hero__cta {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}
.hero__cta a {
    color: var(--clr-white);
    background-color: #41391a;
    padding: .9rem 1.8rem;
    line-height: 34px;
    color: var(--clr-white);
    cursor: pointer;
    
    font-weight: 800;
    font-size: 26px;
    text-transform: uppercase;
    border: 4px solid var(--clr-cp);

    box-shadow: 0 0 40px #ffbb3836;
    
}


.header__socials  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

header i {
    font-size: 3rem;
    padding: 1rem;
    border-radius: 50%;

}
.header__socials i {
    transition: transform 0.3s ease-in-out;
}
.header__socials i:hover {
    transform: translateY(-10px);
}



.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--en-gp);
    
}
.about__content {
    background: var(--clr-enc-bg);
    border: 1px solid var(--clr-en-bd);
    padding: var(--en-pd);
    border-radius: var(--en-bdrr);
}
.about__container h3 {
    margin-bottom: 1.5rem;
}

.framer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--en-gp);
    justify-content: center;
}

.framer_1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff05;
    align-items: center;
    border: 1px solid rgb(255, 255, 255, 0.8);
    gap: 20px;
}
.framer_2 {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: var(--clr-white);
    padding: 0.5rem;
}
.framer_2 img {
    height: 2rem;
}
.framer_3 {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.framer_title {
    font-size: 24px;
    font-weight: 700;
    color: var(--clr-cp);
}
.framer_text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

    

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    margin-top: 1.5rem;
    gap: var(--en-gp);
}
.service {
    border: 1px solid var(--clr-en-bd);
    padding: var(--en-pd);
    border-radius: var(--en-bdrr);
    background: var(--clr-enc-bg);
}
.service__title {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    margin-bottom: 1.5rem;
}
.service__title img {
    height: 2.3rem;
}

.service__text {
    margin-bottom: 1.2rem;
}
        .service__btn {
            cursor: pointer;
            margin-top: 2rem;
            .service__btnn {
                border: 1px solid var(--clr-cp);
                border-radius: 10px;
                padding: 12px 12px;
                color: var(--clr-cp);
            }
        }


.service__btnn {
    border: 1px solid var(--clr-cp);
    border-radius: 10px;
    padding: 12px;
    color: var(--clr-cp);
}


.testimonial-item {
    background: var(--clr-enc-bg);
    padding: 20px;
    border-radius: var(--en-bdrr);
}
.testimonial-item .info {
    display: flex;
    align-items: center;
}

.testimonial-item img {
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonial-item .name {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}
.testimonial-item p {
    margin-top: 20px;
}
.testimonial-item .rating {
    margin-top: 15px;
    font-size: 14px;
}
.swiper {
    width: 600px;
    height: 300px;
}
.testimonial-content .testimonial-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}




.faqs__container {
    max-width: 800px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.faqs {
    background-color: var(--clr-dark-bg);
    border: 1px solid var(--clr-white70);
    padding: 1.2rem;
    border-radius: 5px;
}

.faqs__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqs__answers {
    display: none;
}


.contact__container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 4fr 3fr; /* Left side (form) takes up 2x space of right side (icons) */
     /* Full height of the viewport */
}

/* Left Side - Form */
.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: var(--coo-gray-dark);
    box-shadow: 5px 0 15px #ff8838; /* Right-side shadow to create separation */
    /* box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1); Right-side shadow to create separation */
    height: 100%;
}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--coo-white);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    background-color: var(--clr-dark-bg);
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #ff8838;
}

.submit-btn {
    padding: 12px 25px;
    background-color: #41391a;
    color: var(--clr-white);
    border: 4px solid #ff8838;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}


/* Right Side - Info */
.contact-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    background-color: var(--clr-dark-bg);
    color: var(--coo-white);
    height: 100%;
}

.contact-right h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 1.5;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.info-item .inner-text-span {
    font-size: 15px;
}


.info-item i {
    font-size: 20px;
    margin-right: 8px;
}

.info-item span {
    font-size: 20px;
}

footer {
    color: var(--framer-text-color);
    margin-top: 7rem;
    padding: 40px 0;
    background: var(--clr-dark-bg);
}

.footer__container {
    display: grid;
    padding-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.footer__1, .footer__2, .footer__3, .footer__4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.subscribe_input {
    display: flex;
}
.subscribe_input input {
    padding: 1rem;
}
.subscribe_input i {
    color: #ff8838;
    font-size: 1.5rem;
}
.subscribe_input button {
    background: var(--framer-text-color);
    padding: 1rem 1.5rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
.footer__menu li a:hover {
    text-decoration: underline;
}
.footer__3 li .btn {
    padding: 6px 8px;
    border: 1px solid #ff8838;
}
.footer__socials {
    display: flex;
    gap: 2rem;
}
.footer__socials i{
    font-size: 2rem;
    color: var(--clr-white);
}
.copyright__container {
    border-top: 2px solid white;
    p {
        margin-top: 40px;
        text-align: center;
    }
}
@media (max-width: 1024px) {
    section {
        margin-top: 4rem;
    }
    .nav__menu {
        display: none;
        position: fixed;
        top: 5rem;
        flex-direction: column;
        right: 0;
        width: fit-content;
        text-align: center;
        gap: 0;

    }
    .nav__menu li {
        width: 100%;
    }
    .nav__menu li a {
        width: 100%;
        background: var(--clr-dark-bg);
        padding: 1rem 4rem;
        text-align: center;
        display: block;
        font-weight: 600;
        border-top: 1px solid var(--clr-white70);
        box-shadow: -2rem 5rem 5rem var(--clr-dark-bg)

    }
    .nav__btns {
        display: inline-block;
        background: var(--clr-dark-bg);
        padding: 5px;
    }
    .nav__close-toggle {
        display: none;
    }
    .nav__menu li {
        transform: rotateX(90deg);
        opacity: 0;
        animation: navKey 700ms ease-in-out forwards;
        transform-origin: top;
    }
    .nav__menu li:nth-child(1) {
        animation-delay: 100ms;
    }
    .nav__menu li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav__menu li:nth-child(3) {
        animation-delay: 300ms;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 400ms;
    }
    .nav__menu li:nth-child(5) {
        animation-delay: 500ms;
    }
    .nav__menu li:nth-child(6) {
        animation-delay: 600ms;
    }
    .nav__menu li:nth-child(7) {
        animation-delay: 700ms;
    }
    @keyframes navKey {
        to {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }


    .services {
        grid-template-columns: 1fr 1fr;
    }
    .contact__container {
        grid-template-columns: 1fr;
    }
    .contact-left {
        order: 2;
    }
    .contact-right {
        order: 1;
    }
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }

}


@media (max-width: 768px) {
    section > h2 {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 2.3rem;
        font-weight: 600;
    }
    body {
        font-size: 1rem;
    }
    .logo__holder {
        gap: 1rem;
    }
    .logo__image {
        height: 3.4rem;
        width: 3.4rem;
    }
    .hero {
        margin-top: 4rem;
    }
    .hero__cta .contact_us {
        display: none;
    }
    
    .hero__text {
        margin: 2rem 0;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: unset;
    }
    .logo__text {
        font-weight: 800;
    }
    .hero__content {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
        margin-top: 1rem;
    }
    .hero__left h1 {
        word-wrap: balance;
        line-height: 1.1;
        font-weight: 650;
        font-size: 2rem;
        text-align: center;
    }
    .hero__right {
        display: none;
    }
    .hero__cta a {
        padding: .45rem 0.9rem;
    }

    .hero__text {
        font-size: 1rem;
    }

    .hero__cta {
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .hero__cta a {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .header__socials {
        display: none;
    }
    .about__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .about__content {
        padding: 1rem;
    }
    .about__container h3 {
        margin-bottom: 1rem;
    }

    .services {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .service {
        padding: 1.5rem;
    }
    .service__title {
        gap: 1rem;
    }
    .service__title img {
        height: 1.9rem;
    }


    .footer__container {
        grid-template-columns: 1fr;
    }
    .footer__1 {
        display: none;
    }
    .contact-left {
        padding: 1.4rem 
    }
    .form-group input, .form-group textarea {
        padding: 0.6rem;
    }
}

